
{%- for direct_file_url in product.metafields.product_vibes_files.file_direct_urls.value -%}

  <iframe width="100%" style="height: 100vh;" src="{{'https://docs.google.com/gview?embedded=true&url=' | append: direct_file_url | append: '#statusbar=0&navpanes=0&toolbar=0&zoom=scale' }}">

  </iframe>

{%- else -%}

{%- endfor -%}


{% schema %}
  {
    "name": "Embed PDF",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "templates": ["product"],
    "settings": [

{
  "type": "image_picker",
  "id": "logo_image",
  "label": "Logo image"
},
       {
        "type": "richtext",
        "id": "preview_button_text",
        "label": "Button text",
        "default": "<p>Preview PDF</p>"
      },

      {
        "type": "select",
        "id": "horizontal_alignment",
        "label": "Horizontal alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "middle"
      },

      {
        "type": "color",
        "id": "preview_button_fg_color",
        "label": "Button text color",
        "default": "#000000"
      },

      {
        "type": "color",
        "id": "preview_button_bg_color",
        "label": "Button background color",
        "default": "#EDEDF0"
      },


      {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 4
    },


      {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 4
    },

      {
      "type": "range",
      "id": "left_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Left padding",
      "default": 32
    },

      {
      "type": "range",
      "id": "right_padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Right padding",
      "default": 32
    }

    

      

    ]
  }
{% endschema %}
